/* GENERAL */

* {
    margin: 0; 
    padding: 0; 
    box-sizing:border-box; 
    scroll-behavior: smooth;
}

body {
    font-family: 'Rubik Mono One', sans-serif;
    text-align: center;
    }

/* MAIN */

.full-page {
    height: 100vh;
    position: relative;
}

.red-bg {
    background-color: red;
}

.green-bg {
    background-color: green;
}

.yellow-bg {
    background-color: yellow;
}

h2 {
    font-size: 2rem;
    color: yellow;
}

#special_h2 {
    color: green;
}

.full-page .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}

 .img-product {
    object-fit: cover;
    width: 500px;
}

#menu {
    position: fixed;
    z-index: 1;
    right: 15px;
    top: 50px;
}

#menu li {
    list-style-type: none;
    display: inline-block;
}

#menu li a {
    color: black;
    font-size: 18px;
    text-decoration: none;
    background-color: #fff;
    border-radius: 50%;
    padding: 13px 17px;
    margin-left: 20px;
}